@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Dark Theme */
:root {
  --secondary-color: #6300b4;
  --tertiary-color: #6c686f;
}

/* Light Theme */
html.light {
  background-color: white;
  color: black;
}

/* Dark Theme */
html.dark {
  background-color: black;
  color: white;
}
